@model ETrade.UI.Models.CategoriesModel

<h4>Categories</h4>
<h3>@Model.Head</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Categories.Descreption" class="control-label"></label>
                <input asp-for="Categories.Descreption" class="form-control" />
                <span asp-validation-for="Categories.Descreption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Categories.Id" class="control-label"></label>
                <input asp-for="Categories.Id" class="form-control" />
                <span asp-validation-for="Categories.Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@Model.Text" class="@Model.Cls" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="List">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
