@model ETrade.UI.Models.CityModel



<h4>Cities</h4>
<h2>@Model.Head</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Cities.Descreption" class="control-label"></label>
                <input asp-for="Cities.Descreption" class="form-control" />
                <span asp-validation-for="Cities.Descreption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cities.Id" class="control-label"></label>
                <input asp-for="Cities.Id" class="form-control" />
                <span asp-validation-for="Cities.Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@Model.Text" class="@Model.Cls" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="List">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}